<nav class="navigation">
  <div class="logo">
    <a class="navbar-brand" href="#"><%= image_tag '찜_로고.png', class: 'main-logo-image img-fluid', width: '80px'%></a>
  </div>
  <div class="page-header">
    <div class="page-one">
      <div class="page-info">
        <p>방 / 시간 선택</p>
      </div>
      <div class="page-location">
        <p>pbl예약하기 > 날짜 / 라운지 > 방 / 시간</p>
      </div>
    </div>
    <div class="page-two">
      <div class="student-school">
        <p>소프트웨어융합대학</p>
      </div>
      <div class="student-name">
        <p>윤지우</p>
      </div>
      <div class="logout-btn">
        <p>로그아웃</p>
      </div>
    </div>
  </div>
</nav>
<!-- Main Content -->
<div class="main">
  <div class="side-bar"> 
    <div class="side-menu-header">
      <%= image_tag '예약하기.png', class: 'list-logo'%>
      <p>예약하기</p>
    </div>
    <hr>
    <div class="side-menu-list">
      <ul>
        <li>날짜 / 라운지</li>
        <li>방 / 시간</li>
        <li>이용자 추가</li>
      </ul>
    </div>
    <div class="side-menu-header">
      <%= image_tag '예약현황보기.png', class: 'list-logo'%>
      <p>예약리스트</p>
    </div>
    <hr>
    <div class="side-menu-list">
      <ul>
        <li>최근 이용 목록</li>
        <li>내가 한 예약리스트</li>
      </ul>
    </div>
    <div class="side-menu-header">
      <%= image_tag '내정보.png', class: 'list-logo'%>
      <p>내 정보</p>
    </div>
    <hr>
    <div class="side-menu-list">
      <ul>
        <li>내 정보</li>
        <li>건의사항</li>
        <li>신고 / 패널티</li>
      </ul>
    </div>
  </div>
  <div class="main-content"> 
    <div class="date">
      <p>방 번호 순</p>
      <hr>
      <p class="cautious">* 이용하실 방과 시간을 선택해주세요.</p>
      <div class="room-box">
        <p>토론실 1실</p> 
      </div>
      <div class="room-content">
        <p>토론실 1실</p>
        <div class="room-content-row">
          <div class="room">
            <p>시간대</p>
          </div>
          <div class="room">
            <p>예약 가능 / 불가능</p>
          </div>
          <div class="room">
            
          </div>
        </div>
      </div>
      <div class="room-box">
        <p>토론실 2실</p> 
      </div>
      <div class="room-content">
        <p>토론실 2실</p> 
      </div>
    </div>
  </div>
</div>
