<!DOCTYPE html>
<html>
  <head>
    <title>HY_PBL</title>
    <%= csrf_meta_tags %>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.1/umd/popper.js" integrity="sha256-yxrY2a2mCZxbaLVcqjg184Vo4c+qw5TYHPSZZdIWY2s=" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	
    
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script>
  $( function() {
    $( "#datepicker" ).datepicker();
  } );
  </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
